{% extends "page.njk" %}

{%- from "components/tagsList.njk" import tagsList -%}

{% block content %}
<div class="w-full flex justify-center">
    <div class="text-left m-8 p-8 max-w-3xl rounded-xl sm:shadow-2xl dark:text-white">
        <p class="text-4xl 2xs:text-5xl xs:text-7xl sm:text-8xl">{{ title }}</p>
        <p class="mt-2">
            <span>In</span>
            {% if page.url.indexOf("/blog/dev") === 0 %}
            <span class="cursor-pointer font-bubble text-transparent bg-clip-text bg-gradient-to-r from-green-500 to-indigo-500 hover:from-indigo-500 hover:to-green-500" onclick="window.location.href = '/blog/dev'">
                Dev
            </span>
            {% elif page.url.indexOf("/blog/prod") === 0 %}
            <span class="cursor-pointer font-bubble text-transparent bg-clip-text bg-gradient-to-r from-pink-500 to-yellow-500 hover:from-yellow-500 hover:to-pink-500" onclick="window.location.href = '/blog/prod'">
                Prod
            </span>
            {% elif page.url.indexOf("/blog/sophos") === 0 %}
            <span class="cursor-pointer font-bubble text-transparent bg-clip-text bg-gradient-to-r from-red-500 to-purple-500 hover:from-purple-500 hover:to-red-500" onclick="window.location.href = '/blog/sophos'">
                Σοφος
            </span>
            {% endif %}
        </p>
        <p class="text-gray-500 dark:text-gray-400">
            {{
                page
                    .date
                    .toLocaleDateString()
            }}
        </p>
        <br>
        <article class="styled-prose">
            {{ content | safe }}
        </article>
        <br><br>
        <p class="text-center text-xl mb-5">Tags</p>
        {{ tagsList(coll=tags | filterTagsList) }}
        <br>
        <div class="giscus"></div>
    </div>
</div>
<script src="https://giscus.app/client.js"
        data-repo="arctic-hen7/arctic-hen7.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzNjc4MTc5Njk="
        data-category="Announcements"
        data-category-id="DIC_kwDOFex08c4B-nd9"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-theme="preferred_color_scheme"
        crossorigin="anonymous"
        async>
</script>
{% endblock %}
