{% macro pageHeader(text, gradientClasses="") %}
<div class="text-center m-8">
    <span class="text-5xl xs:text-7xl sm:text-8xl font-bubble text-transparent bg-clip-textX {{ gradientClasses }}">
        {{ text }}
    </span>
</div>
{% endmacro %}
