{% macro pageHeader(text, gradientClasses="") %}
<div class="text-center m-8">
    <span class="text-5xl xs:text-7xl sm:text-8xl font-bubble bg-clip-text dark:text-white">
        {{ text }}
    </span>
</div>
{% endmacro %}
