{# TODO add limit parameter #}
{% macro postsList(coll) %}
<div class="flex justify-center">
    <ol class="text-center">
        {% for post in coll %}
        <li class="px-5 inline-block align-top">
            <div class="text-left cursor-pointer rounded-xl shadow-md hover:shadow-2xl transition-shadow duration-100 p-8 max-w-xs" onclick="window.location.href = '{{ post.url }}'">
                <p class="text-4xl font-bubble dark:text-white">{{ post.data.title }}</p>
                <p class="text-gray-800 dark:text-gray-100">{{ post.data.description }}</p>
                <p class="text-gray-500 dark:text-gray-400">
                    {{
                        post
                            .date
                            .toLocaleDateString()
                    }}
                </p>
            </div>
        </li>
        {% endfor %}
    </ol>
</div>
{% endmacro %}
