{% macro tagsList(coll) %}
<div class="flex justify-center">
    <ul class="text-center max-w-4xl">
        {% for tag in coll %}
        <li class="px-1 inline-block align-top">
            <div class="text-left cursor-pointer rounded-xl shadow-md hover:shadow-2xl transition-shadow duration-100 p-3 min-w-min" onclick="window.location.href = '/blog/tags/{{ tag }}'">
                <p class="dark:text-white font-bubble truncate">
                    <span class="align-bottom material-icons-round">tag</span>
                    <span>{{ tag }}</span>
                </p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endmacro %}
