---
title: Dev Category – Blog
description: Introduction page for the Dev category of the blog.
layout: page.njk
---

<div class="text-center m-8">
    <span class="text-8xl font-bubble text-transparent bg-clip-text bg-gradient-to-r from-green-500 to-indigo-500 hover:from-indigo-500 hover:to-green-500">
        Dev Category
    </span>
</div>
<br>
<div class="flex justify-center">
    <p class="text-lg max-w-prose">
        Welcome to the Dev section of my blog! Here, you'll find
        all things programming and development, from frontend to
        backend and all the horrible stuff in between that we all
        pretend doesn't exist!
    </p>
</div>
