---
title: Σοφος Category – Blog
description: Introduction page for the Sophos category of the blog.
layout: page.njk
---
{%- from "components/postsList.njk" import postsList -%}
{%- from "components/tagsList.njk" import tagsList -%}
{%- from "components/pageHeader.njk" import pageHeader -%}

{{ pageHeader(
    text="Σοφος Category",
    gradientClasses="bg-gradient-to-r from-red-500 to-purple-500 hover:from-purple-500 hover:to-red-500"
) }}
<br>
<div class="styled-prose flex justify-center">
    <p class="text-lg max-w-prose dark:text-white">
        Welcome to the Σοφος (Sophos) section of my blog! Here, you'll find everything from philosophy to history to music to random stuff that doesn't fit anywhere else! Σοφος means 'knowledge' in Classical Greek, and this section aims to contain some stuff that I find vaguely interesting!
    </p>
</div>
<br><br>
<p class="px-5 mb-8 text-5xl font-bubble dark:text-white">Pinned Posts</p>
{{ postsList(coll=collections._pinned_categorySophos | reverse) }}
<br><br>
<p class="px-5 mb-8 text-5xl font-bubble dark:text-white">Latest Posts</p>
{{ postsList(coll=collections._latest_categorySophos | reverse) }}
<br><br>
<p class="px-5 mb-8 text-5xl font-bubble dark:text-white">Tags</p>
{{ tagsList(coll=collections._tags_categorySophos) }}
<br><br>
<p class="px-5 mb-8 text-5xl font-bubble dark:text-white">All Posts</p>
{{ postsList(coll=collections._categorySophos | reverse) }}
