---
title: About Me
description: A little bit about me!
layout: page.njk
---

{%- from "components/postsList.njk" import postsList -%}
{%- from "components/tagsList.njk" import tagsList -%}
{%- from "components/pageHeader.njk" import pageHeader -%}

{{ pageHeader(
    text="About Me",
    gradientClasses="bg-gradient-to-r from-cyan-600 to-fuchsia-600 hover:from-fuchsia-600 hover:to-cyan-600"
) }}
<br>

<div class="w-full flex justify-center">
    <div class="flex flex-col md:flex-row justify-center">
        <img class="rounded-full w-64 h-64 mb-8 mx-auto" src="https://avatars.githubusercontent.com/u/49536790" alt="My profile picture on GitHub">
        <div class="flex-col text-center max-w-prose px-5 dark:text-white">
            <p>
                Hey there! I'm <code>arctic_hen7</code>, a fullstack web developer
                with a passion for productivity and anything cool! I mostly
                work with Rust, but I have an extensive background in technologies
                like ReactJS, NextJS, and Gatsby. Now, I aim to make technologies
                like these even more performant and astonishing through the power
                of Rust and WASM.
            </p>
            <br>
            <p>
                This site is my personal space on the internet to blog about
                everything web development, productivity, philosophy, and really
                anything! I update this frequently with blog posts about
                stuff I'm working on and problems I'm solving, with the
                hope that my posts will help both future me and someone else!
            </p>
            <br>
            <p>
                If you're interested, this site is built with <a href="https://11ty.dev" class="text-fuchsia-400">Eleventy</a>
                and <a href="https://mozilla.github.io/nunjucks" class="text-fuchsia-400">Nunjucks</a>, and
                is styled with <a href="https://tailwindcss.com" class="text-fuchsia-400">TailwindCSS</a>!
                All the code is on GitHub, so please <a href="https://github.com/arctic-hen7/arctic-hen7.github.io/issues/new/choose" class="text-fuchsia-400">open an issue</a>
                if there's anything in particular you'd like to see here!
            </p>
            <br>
            <p>
                If you want to contact me about collaboration or something
                interesting, <a href="mailto:arctic_hen7@pm.me" class="text-fuchsia-400">drop me an email</a>
                and let me know!
            </p>
        </div>
    </div>
</div>
