---
title: Home
description: The Arctic Site.
layout: page.njk
---

{%- from "components/postsList.njk" import postsList -%}
{%- from "components/tagsList.njk" import tagsList -%}
{%- from "components/pageHeader.njk" import pageHeader -%}

{{ pageHeader(
    text="Welcome to the Arctic",
    gradientClasses="bg-gradient-to-r from-blue-400 to-indigo-600 hover:from-indigo-600 hover:to-blue-400"
) }}
<br>

<div class="flex justify-center w-full">
    <div class="flex-col text-center max-w-prose px-5 dark:text-white">
        <p class="text-5xl">👋</p>
        <br>
        <p>
            Hey there! I'm <code>arctic_hen7</code>, a fullstack web developer
            with a passion for productivity and anything cool! I mostly
            work with Rust, but I have an extensive background in technologies
            like ReactJS, NextJS, and Gatsby. This is my personal corner of the
            internet, where you'll find blog posts on programming, productivity,
            and generally interesting stuff, as well as links to all my projects!
        </p>
    </div>
</div>
<br><br>
<p class="px-5 mb-8 text-5xl font-bubble dark:text-white">Working On</p>
{% set currProject = {
    name: "Perseus",
    description: "A frontend development framework built in Rust with support for SSG, SSR, and ISR. Aiming to be NextJS for WASM!",
    url: "https://github.com/arctic-hen7/perseus",
    gradientClasses: "bg-gradient-to-r from-pink-800 to-pink-500 hover:from-pink-500 hover:to-pink-800"
} %}
<div class="flex justify-center w-full">
    <div class="text-left cursor-pointer rounded-xl shadow-md hover:shadow-2xl transition-shadow duration-100 p-8 max-w-sm {{ currProject.gradientClasses }}" onclick="window.location.href = '{{ currProject.url }}'">
        <p class="text-4xl text-white font-bubble">{{ currProject.name }}</p>
        <p class="font-semibold text-white">{{ currProject.description }}</p>
    </div>
</div>

<br><br>
<p class="px-5 mb-8 text-5xl font-bubble dark:text-white">Pinned Posts</p>
{{ postsList(coll=collections._pinned) }}
<br><br>
<p class="px-5 mb-8 text-5xl font-bubble dark:text-white">Latest Posts</p>
{{ postsList(coll=collections._latest) }}
