---
title: Projects
description: A list of the projects I've worked on.
layout: page.njk
---
{%- from "components/pageHeader.njk" import pageHeader -%}

{{ pageHeader(
    text="Projects",
    gradientClasses="bg-gradient-to-r from-purple-600 to-pink-700 hover:from-pink-700 hover:to-purple-600"
) }}
<br>

<div class="flex justify-center w-full">
    <div class="flex-col text-center max-w-prose">
        <p class="px-5 text-lg text-center dark:text-white">
            Here's a list of the projects I have, and am currently,
            working on!
        </p>
    </div>
</div>
<br>
<div class="flex justify-center w-full">
    <ul class="max-w-8xl">
        {% set items = [
            {
                name: "Bonnie",
                description: "A lightweight, advanced, and super-powerful command aliasing tool built in Rust.",
                url: "https://github.com/arctic-hen7/bonnie",
                gradientClasses: "bg-gradient-to-r from-yellow-800 to-yellow-500 hover:from-yellow-500 hover:to-yellow-800"
            },
            {
                name: "Diana",
                description: "The world's first GraphQL system that supports a dual serverless/serverful architecture, allowing subscriptions to be used without friction in serverless projects.",
                url: "https://github.com/arctic-hen7/diana",
                gradientClasses: "bg-gradient-to-r from-indigo-800 to-indigo-500 hover:from-indigo-500 hover:to-indigo-800"
            },
            {
                name: "Perseus",
                description: "A frontend development framework built in Rust with support for SSG, SSR, and ISR. Aiming to be NextJS for WASM!",
                url: "https://github.com/arctic-hen7/perseus",
                gradientClasses: "bg-gradient-to-r from-pink-800 to-pink-500 hover:from-pink-500 hover:to-pink-800"
            },
            {
                name: "Kris-Kringle App",
                description: "A simple app for Kris-Kringles (Secret Santas) that works out of the box.",
                url: "https://github.com/arctic-hen7/kris-kringle",
                gradientClasses: "bg-gradient-to-r from-green-800 to-green-500 hover:from-green-500 hover:to-green-800"
            },
            {
                name: "Link Manager",
                description: "[COMING SOON] An app that names and stores links. Intended for the myriad Zoom links of lockdown, but great for a lot of stuff!",
                url: "https://github.com/arctic-hen7",
                gradientClasses: "bg-gradient-to-r from-blue-800 to-blue-500 hover:from-blue-500 hover:to-blue-800"
            }
        ] %}
        {% for item in items %}
        <li class="px-5 inline-block align-top">
            <div class="text-left cursor-pointer rounded-xl shadow-md hover:shadow-2xl transition-shadow duration-100 mt-8 p-8 max-w-sm {{ item.gradientClasses }}" onclick="window.location.href = '{{ item.url }}'">
                <p class="text-4xl text-white font-bubble">{{ item.name }}</p>
                <p class="font-semibold text-white">{{ item.description }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
